{% extends "base.html" %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div style="padding-bottom:2em">
            <div><a href="#" onclick="history.go(-1)">Go Back</a></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-13">
                <div class="card shadow p-4">
                    <h2 class="text-center mb-4">Tweet Information</h2>

                    <div class="mb-3">
                        <h5 class="info-heading">Tweet Content</h5>
                        <p class="text-justify">{{ output_tweet.description }}</p>
                    </div>

                    <div class="mb-3">
                        <h5 class="info-heading">Hashtags</h5>
                        <p>{{ output_tweet.hashtags }}</p>
                    </div>

                    <div class="mb-3">
                        <h5 class="info-heading">Number of Retweets</h5>
                        <p>{{ output_tweet.retweets }}</p>
                    </div>

                    <div class="mb-3">
                        <h5 class="info-heading">Number of Likes</h5>
                        <p>{{ output_tweet.likes }}</p>
                    </div>

                    <div class="mb-3">
                        <h5 class="info-heading">Date</h5>
                        <p>{{ output_tweet.doc_date }}</p>
                    </div>

                    <div class="mb-3">
                        <h5 class="info-heading">URL</h5>
                        <a href="{{ output_tweet.url }}" class="card-link" target="_blank">{{ output_tweet.url }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
